body{
    background-color: rgb(147, 155, 148);
}
h1{
    text-align:center;
    color:blue;
}
h2{
    text-align:center;
    color:yellow;
}
footer{
    color: white;
    font-size: 30px;
}
nav{
    width: 100%;
    border: 2px solid grey;
    background-color: black;
}
nav a{
    text-decoration: none;
    color: red;
    padding-left: 40px;
 font-size: 20px;
}
img{
    text-align: center;
    height:100px;
}
